.principal__titulo{
    color: #DAA520 ;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top:20rem;
    font-size: 2.50rem;
}